<form action="/receitaUpdate" method="post">
    <input type="hidden" name="id" value={{receita.id}}>
    Nome: <input type="text" name="nome"  value="{{receita.nome}}">
    <br> <br>
    Ingredientes: <input type="text" name="ingredientes"  value="{{receita.ingredientes}}">
    <br> <br>
    Preparo: <input type="text" name="preparo" value="{{receita.preparo}}">
    <br> <br>
    Ingredientes:
    <select name="categoriaId">
        {{#each categorias}}
        <tr>
            <option value={{id}}>{{nome}}</option>
        </tr>
        {{/each}}
    </select>
    <br> <br>
    <input type="submit" value="Editar">
</form>